@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;800;900&display=swap");

/* General */

html {
  font-size: 100%;
}


body {
  background-color: #fafafa;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  line-height: 1.65;
  color: #333;
  font-weight: normal;
  margin: 0px;
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit browsers */
}

img {
  width: 100%;
}

@media only screen and (max-width: 750px) {
  img {
    max-width: 150vw;
  }
}

#again {
  background: white;
  border-radius: 8px;
  color: white;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  margin-top: 32px;
  cursor: pointer;
}

#again:focus {
  outline: none;
  box-shadow: none;
}

header {
  margin-bottom: 32px;
}

.go-home {
  font-size: 24px;
  text-decoration: none;
  position: fixed;
}
@media only screen and (max-width: 750px) {
  .go-home {
    font-size: 16px;
  }
}

.container {
  padding: 16px;
}
@media only screen and (max-width: 750px) {
  .container {
    overflow-x: hidden;
    padding: 8px;
  }
}

.two-thirds {
  width: 66%;
}
@media only screen and (max-width: 750px) {
  .two-thirds {
    width: calc(100% - 16px);
  }
}

.content {
  min-height: calc(100vh - 32px);
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
}

@media only screen and (max-width: 750px) {
  .content {
    display: initial;
  }
}

#sketch-holder {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  cursor: pointer;
  min-height: calc(100vh - 32px);
}

@media only screen and (max-width: 750px) {
  /* #sketch-holder {
  } */
}

#index-work {
  text-align: center;
  min-height: 66.6vh;
  margin-bottom: 32px;
}

#work {
  margin-top: 96px;
}
#contact {
  display: flex;
  position: fixed;
  top: 16px;
  right: 16px;
}

#contact h5 {
  margin: 0px;
  margin-left: 12px !important;
}

.bold {
  font-weight: 900;
}

.m-0 {
  margin: 0px !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.underline {
  text-decoration: underline;
}

.nounderline {
  text-decoration: none !important;
}

.italic {
  font-style: italic;
}

.inherit-height {
  height: inherit;
}
p {
  margin-bottom: 1.15rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  font-size: 7.594em;
}

h2 {
  font-size: 5.063em;
}

h3 {
  font-size: 3.375em;
}

h4 {
  font-size: 2.25em;
}

h5 {
  font-size: 1.5em;
}

small,
.text_small {
  font-size: 0.667em;
}
a {
  color: blue !important;
  font-weight: 800;
}
