@import url("https://fonts.googleapis.com/css2?family=Varela+Round:wght@400;800;900&display=swap");

header {
  margin-bottom: 64px;
}

.madness {
  background: blue;
  padding: 8px;
  color: white;
  border-radius: 8px;
}

.madness a {
  color: white !important;
}

.go-home {
  font-size: 32px;
  text-decoration: none;
  position: fixed;
}
@media only screen and (max-width: 750px) {
  .go-home {
    font-size: 16px;
  }
}

.container {
  padding: 16px;
}
@media only screen and (max-width: 750px) {
  .container {
    overflow-x: hidden;
    padding: 8px;
  }
}

.two-thirds {
  max-width: 800px;
  margin: 0 auto;
}
@media only screen and (max-width: 750px) {
  .two-thirds {
    width: calc(100% - 16px);
  }
}


.center {
  text-align: center;
}

img {
  max-height: 500px;
  margin: 0 auto;
}

@media only screen and (max-width: 750px) {
  img {
    max-width: 150vw;
  }
}




.bold {
  font-weight: 900;
}

.m-0 {
  margin: 0px !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.underline {
  text-decoration: underline;
}

.nounderline {
  text-decoration: none !important;
}

.italic {
  font-style: italic;
}

.inherit-height {
  height: inherit;
}

a {
  color: blue !important;
  font-weight: 800;
}


body {
  margin: 0px;
  font-family: "Varela Round", sans-serif;
}

#my-info {
  padding: 8px;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
}

#my-info h1 {
  font-size: 6vw;
}



#projects-wrapper {
  padding: 8px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-gap: 16px;
  margin: 0 auto;
  max-width: 1080px;
  margin-bottom: 64px;
}

.project {
  padding: 8px;
  border-radius: 4px;
  position: relative;
  min-height: 500px;
  background: #f9f9f9;
  text-align: center;
}

.project h1 {
  text-align: center;
}

.project .intro {
  max-width: 375px;
  margin: 32px auto;
  text-align: center;
}

.project .tags {
  margin: 12px 0px;
}

.tags span {
  font-size: 12px;
  background: #e2e2e2;
  color: #303133;
  border-radius: 4px;
  padding: 3px;
}

.image-wrapper {
  max-width: calc(100% - 16px);
  margin: 0 auto;
  height: 375px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}

#cool {
  background: red;
}

.mb-0 {
  margin-bottom: 0px;
}

.m-0 {
  margin: 0px;
}

@media only screen and (max-width: 750px) {
  .image-wrapper {
    height: 350px;
  }
  #projects-wrapper  {
    display: flex;
    flex-direction: column;

  }

  #my-info h1 {
    font-size: 10vw;
  }

  .project .intro {
    max-width: 100%;
    margin: 8px;
  }
  .project {
    padding: 2px;
    margin-bottom: 32px;
  }
}
