@import url("https://fonts.googleapis.com/css2?family=Varela+Round:wght@400;800;900&display=swap");


body {
  margin: 0px;
  font-family: "Varela Round", sans-serif;
}

header {
  position: fixed;
  background: whitesmoke;
  width: 100%;
}

.head-content {
  max-width: 1080px;
  margin: 0 auto;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0px 8px;
}



/** Article **/
.madness {
  background: blue;
  padding: 8px;
  color: white;
  border-radius: 8px;
}

.madness a {
  color: white !important;
}

.writeup-chunk {
  margin-bottom: 64px;
}

.writeup-container {
  font-size: 22px;
  padding-top: 64px;
  max-width: 1080px;
  margin: 0 auto;
  margin-bottom: 120px;
  padding-left: 16px;
  padding-right: 16px;
}

.pic-info {
  text-align: right;
  margin-top: 0px;
}

.force-max {
  width: 100%;
  max-height: unset;
}


@media only screen and (max-width: 750px) {

  .force-max {
    width: 100%;
  }

  
  .writeup-container  {
    width: calc(100% - 16px);
  }

  .head-content .name {
    display: none;
  }
}





img {
  max-height: 500px;
  margin: 0 auto;
  max-width: 100%;
}

@media only screen and (max-width: 750px) {
  img {
    max-width: 150vw;
  }
}

.center {
  text-align: center;
}


.bold {
  font-weight: 900;
}

.m-0 {
  margin: 0px !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.underline {
  text-decoration: underline;
}

.nounderline {
  text-decoration: none !important;
}

.italic {
  font-style: italic;
}

.inherit-height {
  height: inherit;
}

a {
  color: blue !important;
  font-weight: 800;
}


#my-info {
  padding: 8px;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.external {
  text-align: center;
}

#my-info h1 {
  font-size: 6vw;
}

#upcoming-wrapper {
  padding: 8px;
  margin: 0 auto;
  max-width: 640px;
  margin-bottom: 64px;
  min-height: unset;
}

#projects-wrapper {
  padding: 8px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-gap: 16px;
  margin: 0 auto;
  max-width: 1280px;
  margin-bottom: 64px;
}

.project {
  padding: 8px;
  border-radius: 8px;
  border: 2px solid lightgray;
  position: relative;
  min-height: 500px;
  background: #f9f9f9;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.project-header {
  padding: 12px;
  text-align: left;
  flex: 1;
}

.project-body {
  margin-top: 16px;
}

.project .tags {
  margin-bottom: 12px;
}

.tags span {
  font-size: 12px;
  background: #e2e2e2;
  color: #303133;
  border-radius: 4px;
  padding: 3px;
}

.image-wrapper {
  margin: 0 auto;
  height: 375px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 6px;
}

.soon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  background-color: lightskyblue;
}

@media only screen and (max-width: 750px) {
  body {
    font-size: 100%;
  }
  .image-wrapper {
    height: 350px;
  }
  #projects-wrapper {
    display: flex;
    flex-direction: column;
  }

  #upcoming-wrapper {
    margin: 8px;
  }

  #my-info h1 {
    font-size: 12vw;
  }

  .project {
    margin-bottom: 8px;
  }
}
