body {
  font-family: "Space Grotesk", sans-serif;
  background: rgb(245, 245, 239);
  color: #111;
}

.project-title {
  color: #000f9f;
  text-decoration: underline;
}

.project-link-item:hover .project-title {
  cursor: pointer;
}

body.fade-out {
  opacity: 0;
  transition: opacity 0.4s ease-out;
}

#image-container {
  aspect-ratio: 4 / 5;
}

.player-container {
  display: inline-flex;
  flex-direction: column-reverse;
  width: 100%;
}

